#titulo_principal:hover{
    color: brown;
}

#panel_opciones{
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    padding: 1px;
    border: 5px groove black;
    background-color: azure;
}

.item{
    width: 100px;
    height: 25px;
    box-sizing: border-box; 
    text-align: center;
}

.item:hover{

    background-color:beige;
}